{% extends "nav.html" %}
{% block title %}승환이네 만화방{% endblock %}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

{% block content %}
<div>
    <form method="POST">
        <div> <!--header div-->
            <h2>웹툰 평점 입력</h2>
        </div>
        <div> <!--input div-->
            <div> <!--웹툰 명 검색 ( 나중에 ajax 로 처리해야함 )-->
                <label for="InputTitle">웹툰명 검색</label>
                <input name="title" type="text" id="InputTitle" autocomplete="off">
            </div>
            <div> <!--별점 입력하기 -->
                <label for="InputRate">평점 입력하기</label>
                    <select name="score" id="InputRate">
                      <option value="1">★☆☆☆☆</option>
                      <option value="2">★★☆☆☆</option>
                      <option value="3">★★★☆☆</option>
                      <option value="4">★★★★☆</option>
                      <option value="5">★★★★★</option>
                    </select>
            </div>
        </div>
        <div>
            <button type="submit"> 별점 입력하기 </button>
        </div>
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script text="text/javascript">

</script>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $('#InputTitle').autocomplete({
        source : function(request, response) { //source: 입력시 보일 목록
            $.ajax({
                url : "/autocomplete"   
                , type : "POST"
                , data : {value: request.term}	// 검색 키워드
                , success : function(data){ 	// 성공
                    response(
                        $.map(data.resultList, function(item) {
                            return {
                                    label : item.SEARCH_WORD    	// 목록에 표시되는 값
                                , value : item.SEARCH_WORD 		// 선택 시 input창에 표시되는 값
                                , idx : item.SEQ // index
                            };
                        })
                    );    //response
                }
                ,error : function(){ //실패
                    alert("오류가 발생했습니다.");
                }
            });
        }
        ,focus : function(event, ui) { // 방향키로 자동완성단어 선택 가능하게 만들어줌	
                return false;
        }
        ,minLength: 1// 최소 글자수
        ,autoFocus : true // true == 첫 번째 항목에 자동으로 초점이 맞춰짐
        ,delay: 100	//autocomplete 딜레이 시간(ms)
        ,select : function(evt, ui) { 
            // 아이템 선택시 실행 ui.item 이 선택된 항목을 나타내는 객체, lavel/value/idx를 가짐
                console.log(ui.item.label);
                console.log(ui.item.idx);
        }
    });
</script>

{% endblock %}
