{% extends "nav.html" %}
{% block title %}승환이네 만화방{% endblock %}

{% block content %}


<link rel="stylesheet" href="../static/css/input_keyword.css">

<div id="keyword_container" class="container mt-5">
    <!-- 사용자 keyword 입력 -->
    <div style="margin: 0 auto;">
        <div class="p-3 d-flex justify-content-between align-items-center"
            style="background-color: #252c3a; border-radius: 10px 10px 0 0;">
            <div class="align-self-center">
                <span class="me-1" style="color: #fff; font-size: 27px;"><strong>웹툰 키워드로 검색하기</strong></span>
                <span style="color: #fff;">키워드로 마음에 드는 웹툰을 찾아보세요!</span>
            </div>
            <div style="margin-left: 200px" class="search-box">

                <button class="btn-search addAutoCompleteKeyword">
                    <ion-icon name="search-outline"></ion-icon>
                </button>
                <input autocomplete="off" id="inputAutoCompleteKeyword" type="text" class="input-search"
                    placeholder="Keyword">
            </div>
            <div class="p-2 release-btn" style="border: 1px solid #fff; border-radius: 5px; cursor: pointer;">
                <p style="color: #fff;"><strong>전체 해제</strong></p>
            </div>
        </div>
        <!-- focus 추가, height 추가(잘안댐..) -->
        <div class="p-2 d-flex justify-content-between" style="background-color: #e6f6ff; border: 1.5px solid #cddde6;">
            <div class="w-25 me-2 p-2">
                <h5 class="p-1" style="font-size: 15px; font-weight: lighter; border-bottom: 1.5px solid #cddde6;">장르
                </h5>
                <div style="height: 200px; overflow: auto;">
                    <ul style="font-weight: bolder; color: #23466e;" class="p-2">
                        <!-- 장르 -->
                        {% for gen in genre %}
                        <li name="1" class="p-1 user_keyword">{{gen}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="w-25 me-2 p-2">
                <h5 class="p-1" style="font-size: 15px; font-weight: lighter; border-bottom: 1.5px solid #cddde6;">소재
                </h5>
                <div style="height: 200px; overflow: auto;">
                    <ul style="font-weight: bolder; color: #23466e;" class="p-2">
                        <!-- 소재 -->
                        {% for soj in sojae %}
                        <li name="2" class="p-1 user_keyword">{{soj}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="w-25 me-2 p-2">
                <h5 class="p-1" style="font-size: 15px; font-weight: lighter; border-bottom: 1.5px solid #cddde6;">분위기
                </h5>
                <div style="height: 200px; overflow: auto;">
                    <ul style="font-weight: bolder; color: #23466e;" class="p-2">
                        <!-- 분위기 -->
                        {% for atm in atm %}
                        <li name="3" class="p-1 user_keyword">{{atm}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="w-25 me-2 p-2">
                <h5 class="p-1" style="font-size: 15px; font-weight: lighter; border-bottom: 1.5px solid #cddde6;">
                    등장인물/관계</h5>
                <div style="height: 200px; overflow: auto;">
                    <ul style="font-weight: bolder; color: #23466e;" class="p-2">
                        <!-- 등장인물/관계 -->
                        {% for chr in chrel %}
                        <li name="5" class="p-1 user_keyword">{{chr}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="w-25 me-2 p-2">
                <h5 class="p-1" style="font-size: 15px; font-weight: lighter; border-bottom: 1.5px solid #cddde6;">수상작
                </h5>
                <div style="height: 200px; overflow: auto;">
                    <ul style="font-weight: bolder; color: #23466e;" class="p-2">
                        <!-- 수상작 -->
                        {% for soo in soosang %}
                        <li name="4" class="p-1 user_keyword">{{soo}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="w-25 me-2 p-2">
                <h5 class="p-1" style="font-size: 15px; font-weight: lighter; border-bottom: 1.5px solid #cddde6;">원작웹툰
                </h5>
                <div style="height: 200px; overflow: auto;">
                    <ul style="font-weight: bolder; color: #23466e;" class="p-2">
                        <!-- 원작웹툰 -->
                        {% for ori in origin %}
                        <li name="6" class="p-1 user_keyword">{{ori}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!--
        <div>
            <input name="title" type="text" id="inputAutoCompleteKeyword" autocomplete="off" placeholder="키워드 입력">
            <input type='button' class="addAutoCompleteKeyword" value='추가' />
        </div>
    -->

    <div id="select_keyword" class="d-flex mt-3">

    </div>
    <div id="output_keyword">
        <form action='/recommendation' method="POST" id='reload_location'>
            <!-- <button id="recommend" type="submit">Recommend</button> -->
        </form>
    </div>
</div>

<svg onclick="scroll_up()" id="scroll_up_btn" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#fd5d14" class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
</svg>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="../static/js/input_keyword.js"></script>

{% endblock %}