{% extends "nav.html" %}
{% block title %}승환이네 만화방{% endblock %}

{% block content %}
<!-- css 중복되는 코드가 너무 많아서 수정 필요 -->
<style>
    ul li {
        cursor: pointer;
    }

    ul li:hover {
        background-color: #efefef;
    }

    /* 서정우한테 맡긴다. */
    ul li:hover {
        background-color: #94bada;
    }

    .container {
        width: 70%;
    }

    .find-recommend {
        display: flex;
        justify-content: space-between;
        border: 1px solid #000;
    }

    .button-result {
        border: 0;
        outline: 0;
        width: 100%;
        background-color: #fff;
    }

    .button-result:hover {
        background: #EEE;
    }

    /* 키워드 검색 바 */
</style>


<div class="container">


    <!-- 사용자 keyword 입력 -->
    <div style="margin: 0 auto;">
        <div class="p-3 d-flex justify-content-between align-items-center" style="background-color: #252c3a;">
            <div class="align-self-center">
                <img class="rounded float-start" style="width:40px;"
                    src="{{url_for('static',filename='img/baseline_search_white_24dp.png')}}">
                <span class="me-1" style="color: #fff; font-size: 27px;"><strong>웹툰 키워드로 검색하기</strong></span>
                <span style="color: #fff;">키워드로 마음에 드는 웹툰을 찾아보세요!</span>

            </div>
            <div class="p-2 release-btn" style="border: 1px solid #fff; border-radius: 5px; cursor: pointer;">
                <p style="color: #fff;"><strong>전체 해제</strong></p>
            </div>
        </div>
        <!-- focus 추가, height 추가(잘안댐..) -->
        <div class="p-2 d-flex justify-content-between" style="background-color: #e6f6ff; border: 1.5px solid #cddde6;">
            <div class="w-25 me-2 p-2">
                <h5 class="p-1" style="font-size: 15px; font-weight: lighter; border-bottom: 1.5px solid #cddde6;">장르
                </h5>
                <div style="height: 100px; overflow: auto;">
                    <ul style="font-weight: bolder; color: #23466e;" class="p-2">
                        <!-- 장르 -->
                        {% for gen in genre %}
                        <li name="1" class="p-1 user_keyword">{{gen}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="w-25 me-2 p-2">
                <h5 class="p-1" style="font-size: 15px; font-weight: lighter; border-bottom: 1.5px solid #cddde6;">소재
                </h5>
                <div style="height: 100px; overflow: auto;">
                    <ul style="font-weight: bolder; color: #23466e;" class="p-2">
                        <!-- 소재 -->
                        {% for soj in sojae %}
                        <li name="2" class="p-1 user_keyword">{{soj}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="w-25 me-2 p-2">
                <h5 class="p-1" style="font-size: 15px; font-weight: lighter; border-bottom: 1.5px solid #cddde6;">분위기
                </h5>
                <div style="height: 100px; overflow: auto;">
                    <ul style="font-weight: bolder; color: #23466e;" class="p-2">
                        <!-- 분위기 -->
                        {% for atm in atm %}
                        <li name="3" class="p-1 user_keyword">{{atm}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="w-25 me-2 p-2">
                <h5 class="p-1" style="font-size: 15px; font-weight: lighter; border-bottom: 1.5px solid #cddde6;">
                    등장인물/관계
                </h5>
                <div style="height: 100px; overflow: auto;">
                    <ul style="font-weight: bolder; color: #23466e;" class="p-2">
                        <!-- 등장인물/관계 -->
                        {% for chr in chrel %}
                        <li name="5" class="p-1 user_keyword">{{chr}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="w-25 me-2 p-2">
                <h5 class="p-1" style="font-size: 15px; font-weight: lighter; border-bottom: 1.5px solid #cddde6;">수상작
                </h5>
                <div style="height: 100px; overflow: auto;">
                    <ul style="font-weight: bolder; color: #23466e;" class="p-2">
                        <!-- 수상작 -->
                        {% for soo in soosang %}
                        <li name="4" class="p-1 user_keyword">{{soo}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="w-25 me-2 p-2">
                <h5 class="p-1" style="font-size: 15px; font-weight: lighter; border-bottom: 1.5px solid #cddde6;">원작웹툰
                </h5>
                <div style="height: 100px; overflow: auto;">
                    <ul style="font-weight: bolder; color: #23466e;" class="p-2">
                        <!-- 원작웹툰 -->
                        {% for ori in origin %}
                        <li name="6" class="p-1 user_keyword">{{ori}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="find-recommend"> 키워드명 검색 ( 나중에 ajax 로 처리해야함 ), 버튼 두개가 들어있는 div -->
    <!-- <label for="autoComplete">웹툰명 검색</label> -->
    <div> <!--키워드명 검색 ( 나중에 ajax 로 처리해야함 )-->
        <label for="inputAutoCompleteKeyword">키워드 검색</label>
        <input name="title" type="text" id="inputAutoCompleteKeyword" autocomplete="off" placeholder="키워드 입력">
        <input type='button' class="addAutoCompleteKeyword" value='추가' />
    </div>
    <div id="select_keyword" class="d-flex">

    </div>
    <div id="output_keyword">
        <form action='/recommendation' method="POST" id='reload_location'>
            <!-- <button id="recommend" type="submit">Recommend</button> -->
        </form>
    </div>
    <!-- </div> -->

</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">

    //자동완성 클릭 시 키워드 추가 필요

    const release_btn = document.getElementsByClassName("release-btn");
    const output = document.getElementById("reload_location")
    let select_user_keyword = []

    const test = document.getElementById("test");
    // 버튼태그 test
    $('.button-result').on('click', function (event) {
        console.log($(this).attr('value'))
    })

    //리스트 선택시 발생
    const select_user = document.getElementById("select_keyword")
    $('li').on('click', function (event) {

        // const select_user = document.getElementById("select_keyword")

        let keyword = $(this).attr('name')
        let user_keyword = $(this).text()

        //동일한 값 안들어가도록 수정
        if (select_user_keyword.includes(user_keyword)) {
            return
        } else {
            select_user_keyword.push(user_keyword);
        }
        console.log(select_user_keyword)

        $.ajax({
            type: 'POST',
            url: '/input_keyword',
            data: { "keyword": keyword, "user_keyword": user_keyword },
            dataType: "json",
            success: function (response) {
                for (let prop in select_user_keyword) {
                    if (user_keyword == select_user_keyword[prop]) {
                        fun_key = user_keyword.replace(' ', '_')
                        select_user.innerHTML += `
                            <div id="keyword_btn${prop}">
                                <button type="button" class="btn btn-info">${select_user_keyword[prop]}</button>
                                <button onclick="remove_btn(${prop},'${fun_key}')" name="${prop}" type="button" class="btn-close" aria-label="Close"></button>
                            </div>
                        `
                    }
                }

                const list_len = $(response["webtoon_title"]).length

                output.innerHTML += `<div id="${fun_key}" class="keywords">`

                let keyword_result = document.getElementById(fun_key)
                for (let i = 0; i < list_len; i++) {
                    //전체를 div를 감싼다. 어떤 키워드를 삭제할지 알아야함

                    keyword_result.innerHTML += `
                        <a class="button-result" href="/get_rcm/${response["webtoon_title"][i]}">
                            <div>
                                <img src='${response["webtoon_thumb"][i]}' style="width:100px; height:100px">
                            </div>  

                            <div>
                                <p>${response["webtoon_title"][i]}</p>
                            </div>

                            <div>
                                <p>${response["webtoon_author"][i]}</p>
                            </div>
                            <div>
                                <p>${response["webtoon_intro"][i]}</p>
                            </div>                    
                        </a>

                    `
                }
                output.innerHTML += `</div>`
            },
            error: function (request, status, error) {
                console.log("no ajax")
            }
        });
    })

    // 키워드 삭제 버튼
    function remove_btn(number, keyword) {
        index = "keyword_btn" + number;
        const close_number = document.getElementById(index);
        const div_container = document.getElementById(keyword);
        select_user_keyword.splice(index, 1);
        div_container.remove(); // 보여준 웹툰 목록을 삭제
        close_number.remove();  // 키워드 목록에서 선택한 키워드를 삭제
    }


    // 키워드 검색 자동완성
    $('#inputAutoCompleteKeyword').autocomplete({
        source: function (request, response) { //source: 입력시 보일 목록
            $.ajax({
                url: "/keyword_autocomplete"
                , type: "POST"
                , data: { value: request.term }	// 검색 키워드
                , success: function (data) { 	// 성공
                    response(
                        $.map(data.keywordList, function (item) {
                            return {
                                label: item  	// 목록에 표시되는 값
                                , value: item		// 선택 시 input창에 표시되는 값
                            };
                        })
                    );    //response
                }
                , error: function () { //실패
                    alert("오류가 발생했습니다.");
                }
            });
        }
        , focus: function (event, ui) { // 방향키로 자동완성단어 선택 가능하게 만들어줌	
            return false;
        }
        , minLength: 1// 최소 글자수
        , autoFocus: false // true == 첫 번째 항목에 자동으로 초점이 맞춰짐
        , delay: 100	//autocomplete 딜레이 시간(ms)

    });


    $(release_btn).on('click', function (event) {
        let select_user = document.getElementById("select_keyword")
        let keywords = $(output).find('div')
        select_user_keyword = []
        select_user.innerHTML = ''
        keywords.remove();
    });

    // 검색한 키워드 추가 버튼
    $('.addAutoCompleteKeyword').on('click', function (event) {
        const inputValue = document.getElementById('inputAutoCompleteKeyword').value;
        console.log("inputValue :", inputValue);

        $.ajax({
            type: 'POST',
            url: '/addAutoCompleteKeyword',
            data: { "inputValue": inputValue },
            dataType: "json",
            success: function (response) {
                console.log(response);
                const { existInDB } = response;
                if (existInDB) {
                    const { inputValue, keyword_type, webtoon_title,
                        webtoon_author, webtoon_thumb, webtoon_intro } = response;
                    console.log("검색한 키워드 :", inputValue);
                    console.log("검색한 키워드가 DB에 있어요✨");

                    let keyword = keyword_type
                    let user_keyword = inputValue

                    //동일한 값 안들어가도록 수정
                    if (select_user_keyword.includes(user_keyword)) {
                        return
                    } else {
                        select_user_keyword.push(user_keyword);
                    }
                    console.log(select_user_keyword)

                    for (let prop in select_user_keyword) {
                        if (user_keyword == select_user_keyword[prop]) {
                            fun_key = user_keyword.replace(' ', '_')
                            select_user.innerHTML += `
                            <div id="keyword_btn${prop}">
                                <button type="button" class="btn btn-info">${select_user_keyword[prop]}</button>
                                <button onclick="remove_btn(${prop},'${fun_key}')" name="${prop}" type="button" class="btn-close" aria-label="Close"></button>
                            </div>
                        `
                        }
                    }

                    const list_len = $(response["webtoon_title"]).length

                    output.innerHTML += `<div id="${fun_key}" class="keywords">`

                    let keyword_result = document.getElementById(fun_key)
                    for (let i = 0; i < list_len; i++) {
                        //전체를 div를 감싼다. 어떤 키워드를 삭제할지 알아야함

                        keyword_result.innerHTML += `
                        <a class="button-result" href="/get_rcm/${response["webtoon_title"][i]}">
                            <div>
                                <img src='${response["webtoon_thumb"][i]}' style="width:100px; height:100px">
                            </div>  

                            <div>
                                <p>${response["webtoon_title"][i]}</p>
                            </div>

                            <div>
                                <p>${response["webtoon_author"][i]}</p>
                            </div>
                            <div>
                                <p>${response["webtoon_intro"][i]}</p>
                            </div>                    
                        </a>

                    `
                    }
                    output.innerHTML += `</div>`

                    $('#inputAutoCompleteKeyword').val('');

                } else {
                    const { inputValue } = response;
                    console.log("검색한 키워드 :", inputValue);
                    console.log("검색한 키워드가 DB에 없어요💥");
                    alert('검색한 키워드가 존재하지 않습니다.');
                }
            },
            error: function (request, status, error) {
                console.log("no ajax")
            }
        });

    })
</script>
{% endblock %}