{% extends "nav.html" %}
{% block title %}승환이네 만화방{% endblock %}

{% block content %}

<link rel="stylesheet" href="../static/css/input_keyword.css">

<div class="container mt-5">
    <!-- 사용자 keyword 입력 -->
    <div style="margin: 0 auto;">
        <div class="p-3 d-flex justify-content-between align-items-center" style="background-color: #252c3a;">
            <div class="align-self-center">
                <span class="me-1" style="color: #fff; font-size: 27px;"><strong>웹툰 키워드로 검색하기</strong></span>
                <span style="color: #fff;">키워드로 마음에 드는 웹툰을 찾아보세요!</span>
            </div>
            <div style="margin-left: 200px" class="search-box">
                <button class="btn-search addAutoCompleteKeyword"><i class="fas fa-search"></i></button>
                <input autocomplete="off" id="inputAutoCompleteKeyword" type="text" class="input-search" placeholder="Keyword">
            </div>
            <div class="p-2 release-btn" style="border: 1px solid #fff; border-radius: 5px; cursor: pointer;">
                <p style="color: #fff;"><strong>전체 해제</strong></p>
            </div>
        </div>
        <!-- focus 추가, height 추가(잘안댐..) -->
        <div class="p-2 d-flex justify-content-between" style="background-color: #e6f6ff; border: 1.5px solid #cddde6;">
            <div class="w-25 me-2 p-2">
                <h5 class="p-1" style="font-size: 15px; font-weight: lighter; border-bottom: 1.5px solid #cddde6;">장르</h5>
                <div style="height: 100px; overflow: auto;">
                    <ul style="font-weight: bolder; color: #23466e;" class="p-2">
                        <!-- 장르 -->
                        {% for gen in genre %}
                        <li name="1" class="p-1 user_keyword">{{gen}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="w-25 me-2 p-2">
                <h5 class="p-1" style="font-size: 15px; font-weight: lighter; border-bottom: 1.5px solid #cddde6;">소재</h5>
                <div style="height: 100px; overflow: auto;">
                    <ul style="font-weight: bolder; color: #23466e;" class="p-2">
                        <!-- 소재 -->
                        {% for soj in sojae %}
                        <li name="2" class="p-1 user_keyword">{{soj}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="w-25 me-2 p-2">
                <h5 class="p-1" style="font-size: 15px; font-weight: lighter; border-bottom: 1.5px solid #cddde6;">분위기</h5>
                <div style="height: 100px; overflow: auto;">
                    <ul style="font-weight: bolder; color: #23466e;" class="p-2">
                        <!-- 분위기 -->
                        {% for atm in atm %}
                        <li name="3" class="p-1 user_keyword">{{atm}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="w-25 me-2 p-2">
                <h5 class="p-1" style="font-size: 15px; font-weight: lighter; border-bottom: 1.5px solid #cddde6;">등장인물/관계</h5>
                <div style="height: 100px; overflow: auto;">
                    <ul style="font-weight: bolder; color: #23466e;" class="p-2">
                        <!-- 등장인물/관계 -->
                        {% for chr in chrel %}
                        <li name="5" class="p-1 user_keyword">{{chr}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="w-25 me-2 p-2">
                <h5 class="p-1" style="font-size: 15px; font-weight: lighter; border-bottom: 1.5px solid #cddde6;">수상작</h5>
                <div style="height: 100px; overflow: auto;">
                    <ul style="font-weight: bolder; color: #23466e;" class="p-2">
                        <!-- 수상작 -->
                        {% for soo in soosang %}
                        <li name="4" class="p-1 user_keyword">{{soo}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="w-25 me-2 p-2">
                <h5 class="p-1" style="font-size: 15px; font-weight: lighter; border-bottom: 1.5px solid #cddde6;">원작웹툰</h5>
                <div style="height: 100px; overflow: auto;">
                    <ul style="font-weight: bolder; color: #23466e;" class="p-2">
                        <!-- 원작웹툰 -->
                        {% for ori in origin %}
                        <li name="6" class="p-1 user_keyword">{{ori}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!--
        <div>
            <input name="title" type="text" id="inputAutoCompleteKeyword" autocomplete="off" placeholder="키워드 입력">
            <input type='button' class="addAutoCompleteKeyword" value='추가' />
        </div>
    -->

    <div id="select_keyword" class="d-flex">

    </div>
    <div id="output_keyword">
        <form action='/recommendation' method="POST" id='reload_location'>
            <!-- <button id="recommend" type="submit">Recommend</button> -->
        </form>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="../static/js/input_keyword.js"></script>

{% endblock %}