{% extends "nav.html" %}
{% block title %}승환이네 만화방{% endblock %}

{% block content %}
<style>
    #nav-service {
        color: #FD5D14;
    }
</style>
<div class="popular-categories">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>만화방 프로젝트</h2>
                    <h6>서비스 소개</h6>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="naccs">
                    <div class="grid">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="menu">
                                    <div class="first-thumb active">
                                        <div class="thumb" style="font-size: 18px">
                                            <span class="icon"><img src="assets/images/search-icon-01.png"
                                                    alt=""></span>
                                            웹툰 추천 기능
                                        </div>
                                    </div>
                                    <div>
                                        <div class="thumb" style="font-size: 18px">
                                            <span class="icon"><img src="assets/images/search-icon-02.png"
                                                    alt=""></span>
                                            웹툰 평가 기능
                                        </div>
                                    </div>
                                    <div>
                                        <div class="thumb" style="font-size: 18px">
                                            <span class="icon"><img src="assets/images/search-icon-03.png"
                                                    alt=""></span>
                                            추천 히스토리 기능
                                        </div>
                                    </div>
                                    <div>
                                    <div class="thumb">                 
                                        <span class="icon"><img src="../static/img/logo2.png" style="width: 100px;" alt=""></span>
                                            로고
                                    </div>
                                </div>
                                    <!-- <div class="last-thumb">
                                    <div class="thumb">                 
                                        <span class="icon"><img src="assets/images/search-icon-05.png" alt=""></span>
                                            Traveling
                                    </div>
                                </div> -->
                                </div>
                            </div>
                            <div class="col-lg-9 align-self-center">
                                <ul class="nacc">
                                    <li class="active">
                                        <div>
                                            <div class="thumb">
                                                <div class="row">
                                                    <div class="col-lg-5 align-self-center">
                                                        <div class="left-text">
                                                            <h4>웹툰 추천 기능</h4>
                                                            <p>좋아하는 키워드를 입력 후 마음에 드는 웹툰을 선택해보세요!<br>선택한 웹툰을 기준으로 여러 가지
                                                                웹툰을 추천해드려요!<br>그림체, 줄거리 그리고 다른 사람들은 어떤 웹툰을 즐기고 있는지 확인해
                                                                보세요!</p>
                                                            <!-- <div class="main-white-button"><a href="#"><i class="fa fa-eye"></i> Discover More</a></div> -->
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-7 align-self-center">
                                                        <div class="right-image">
                                                            <img src="../static/img/jsh.jpg" alt="jsh_webtoon_info">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <div class="thumb">
                                                <div class="row">
                                                    <div class="col-lg-5 align-self-center">
                                                        <div class="left-text">
                                                            <h4>웹툰 평가 기능</h4>
                                                            <p>내가 좋아하는 웹툰, 싫어하는 웹툰에 대한 평가를 등록해주세요! <br>해당 평가는 저희 프로그램의
                                                                데이터에 등록되어 점차 추천에 대한 정확도가 더 올라가게 됩니다</p>
                                                            <!-- <div class="main-white-button"><a href="#"><i class="fa fa-eye"></i> Explore More</a></div> -->
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-7 align-self-center">
                                                        <div class="right-image">
                                                            <img src="assets/images/tabs-image-02.jpg"
                                                                alt="Foods on the table">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <div class="thumb">
                                                <div class="row">
                                                    <div class="col-lg-5 align-self-center">
                                                        <div class="left-text">
                                                            <h4>추천 히스토리 기능</h4>
                                                            <p>이전에 받았던 추천 결과가 기억나지 않나요? <br>걱정하지 마세요!<br> 추천 히스토리 기능을 통해
                                                                언제든 다시 추천 결과를 확인할 수 있어요</p>
                                                            <!-- <div class="main-white-button"><a href="listing.html"><i class="fa fa-eye"></i> More Listing</a></div> -->
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-7 align-self-center">
                                                        <div class="right-image">
                                                            <img src="assets/images/tabs-image-03.jpg"
                                                                alt="cars in the city">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                <div>
                                    <div class="thumb">
                                    <div class="row">
                                        <div class="col-lg-5 align-self-center">
                                        <div class="left-text">
                                            <h4>만화책 읽는 승환이를 상징하는 로고 !</h4>
                                            <p>상징색 색상코드 : <span style="color : #FD5D14">#FD5D14</span></p>
                                            <p>일상을 살아가는 승환이가 선택한 유일한 휴식은 바로 만화책 읽기 ! <br>승환이가 휴식을 취하듯 서비스를 이용하는 모든 사람들이 휴식을 얻으면 좋겠다는 발상에서 착안된 대표 로고입니다</p>
                                            <!-- <div class="main-white-button"><a href="#"><i class="fa fa-eye"></i> Discover More</a></div> -->
                                        </div>
                                        </div>
                                        <div class="col-lg-7 align-self-center">
                                        <div class="right-image">
                                            <img src="assets/images/tabs-image-04.jpg" alt="Shopping Girl">
                                        </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                </li>
                                    <!-- <li>
                                <div>
                                    <div class="thumb">
                                    <div class="row">
                                        <div class="col-lg-5 align-self-center">
                                        <div class="left-text">
                                            <h4>Information and Safety Tips for Traveling</h4>
                                            <p>You are allowed to use this template for your commercial websites. You are NOT allowed to redistribute this template ZIP file on any Free CSS collection websites.</p>
                                            <div class="main-white-button"><a rel="nofollow" href="https://templatemo.com/contact"><i class="fa fa-eye"></i> Read More</a></div>
                                        </div>
                                        </div>
                                        <div class="col-lg-7 align-self-center">
                                        <div class="right-image">
                                            <img src="assets/images/tabs-image-05.jpg" alt="Traveling Beach">
                                        </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                </li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}