{% extends "nav.html" %}
{% block title %}승환이네 만화방{% endblock %}

{% block content %}
<form method="POST" class="mt-5">
    <h2 align="center">LOGIN</h2>
    <div class="mb-3 w-25" style="margin: 0 auto;">
        <label for="InputId" class="form-label">ID</label>
        <input name="id" type="text" class="form-control" id="InputId">
    </div>
    <div class="mb-3 w-25" style="margin: 0 auto;">
        <label for="InputPassword" class="form-label">PASSWORD</label>
        <input name="password" type="password" class="form-control" id="InputPassword">
    </div>
    <div class="d-flex justify-content-center mb-2">
        <button type="submit" class="btn btn-primary">로그인</button>
    </div>
</form>
{% endblock %}