{% extends "nav.html" %}
{% block title %}승환이네 만화방{% endblock %}

{% block content %}
<form id="loginForm" method="POST" class="mt-5">
    <h2 align="center">LOGIN</h2>
    <div class="mb-3 w-25" style="margin: 0 auto;">
        <label for="InputId" class="form-label">ID</label>
        <input name="id" type="text" class="form-control is-invalid" id="InputId">
        <p id="noInputId" style="font-size: 13px; color: red; ">아이디를 입력해주세요.</p>
    </div>
    <div class="mb-3 w-25" style="margin: 0 auto;">
        <label for="InputPassword" class="form-label">PASSWORD</label>
        <input name="password" type="password" class="form-control" id="InputPassword">
        <p id="noInputPw" style="font-size: 13px; color: red; ">비밀번호를 입력해주세요.</p>
    </div>
    <div class="d-flex justify-content-between mb-2 w-25" style="margin: 0 auto;">
        <div>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#findIdModal">
                아이디 찾기
            </button>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#findPwModal">
                비밀번호 찾기
            </button>
        </div>
        <div>
            <button type="button" class="btn btn-primary" onclick="location.href='sign_up'">
                회원가입
            </button>
            <button style="background-color: #ddd;" id="loginBtn" type="submit" disabled="disabled" class="btn btn-primary">로그인</button>
        </div>

    </div>
</form>

<!-- 아이디 찾기 Modal -->
<div class="modal fade" id="findIdModal" tabindex="-1" aria-labelledby="findIdModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="findIdModalLabel">아이디 찾기</h1>
            </div>
            <form action="/find_id" method="POST">
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Email</span>
                        <input type="text" name="email" class="form-control" aria-label="email" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">이름</span>
                        <input type="text" name="name" class="form-control" aria-label="name" aria-describedby="basic-addon1">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#checkUserInfoModal">
                            아이디 찾기
                        </button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- 비밀번호 찾기 Modal -->
<div class="modal fade" id="findPwModal" tabindex="-1" aria-labelledby="findPwModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="findPwModalLabel">비밀번호 찾기</h1>
            </div>
            <form action="/reset_pw" method="POST">
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">아이디</span>
                        <input type="text" name="id" class="form-control" aria-label="id" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">이메일</span>
                        <input type="text" name="email" class="form-control" aria-label="email" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">이름</span>
                        <input type="text" name="name" class="form-control" aria-label="name" aria-describedby="basic-addon1">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#checkUserPwModal">
                            비밀번호 찾기
                        </button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="../static/js/login_validation.js"></script>

{% endblock %}