{% extends "nav.html" %}
{% block title %}승환이네 만화방{% endblock %}

{% block content %}

<link rel="stylesheete" href="../css/recommend_page.css">

<div class="container">
    <h2 class="titles"><span>줄거리</span>가 비슷한 만화</h2>
    <ol class="ol-result">    
        {% for it in its %}
        <li>
            <div class="li-result">
                <a id="a-result" href="{{it[0][2]}}">
                    <div class="result-contents">
                        <div class="result-image">
                            <img style="width: 100px; height: 100px;" src="{{it[0][3]}}">
                        </div>
                        <div class="result-text">
                            <div class="result-text-title-author">
                                {{it[0][1]}} | {{it[0][5]}}
                            </div>
                            <div class="result-text-intro">
                                {{it[0][6]}}
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </li>
        {% endfor %}
    </ol>

    <h2 class="titles"><span>그림체</span>가 비슷한 만화</h2>
    <ol class="ol-result">    
        {% for ds in dss %}
        <li>
            <div class="li-result">
                <a id="a-result" href="{{ds[0][2]}}">
                    <div class="result-contents">
                        <div class="result-image">
                            <img style="width: 100px; height: 100px;" src="{{ds[0][3]}}">
                        </div>
                        <div class="result-text">
                            <div class="result-text-title-author">
                                {{ds[0][1]}} | {{ds[0][5]}}
                            </div>
                            <div class="result-text-intro">
                                {{ds[0][6]}}
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </li>
        {% endfor %}
    </ol>

    {% if cs==0 %}
    <h2 class="titles"> <span>개발자 추천</span> 만화</h2>
    <p>아직 설문 데이터가 충분하지 않아요 <a href="http://127.0.0.1:5000/input_rate">여기</a> 로 가서 데이터를 쌓아주세요 ! </p>
    {% elif cs==1 %}
    <h2 class="titles">이 웹툰을 <span>좋아하는 사람</span>들이 보는 만화</h2>
    {% else %}
    <span>endend</span>
    {% endif %}
    
    <ol class="ol-result">    
        {% for sv in svs %}
        <li>
            <div class="li-result">
                <a id="a-result" href="{{sv[0][2]}}">
                    <div class="result-contents">
                        <div class="result-image">
                            <img style="width: 100px; height: 100px;" src="{{sv[0][3]}}">
                        </div>
                        <div class="result-text">
                            <div class="result-text-title-author">
                                {{sv[0][1]}} | {{sv[0][5]}}
                            </div>
                            <div class="result-text-intro">
                                {{sv[0][6]}}
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </li>
        {% endfor %}
    </ol>
    {% endblock %}

</div>
